<main id="login-container">

  <form id="login-form">

    <fieldset id="fieldset-{{form.fields.email.id}}" >

      <label
        id="label-{{form.fields.email.id}}"
        for={{form.fields.email.id}}
      >
        {{form.fields.email.label}}
      </label>

      <mat-form-field>
        <input matInput
          id="input-{{form.fields.email.id}}"
          type={{form.fields.email.type}}
          placeholder={{form.fields.email.placeholder}}
        />
      </mat-form-field>

    </fieldset>


    <fieldset id="fieldset-{{form.fields.password.id}}" >

      <label
        id="label-{{form.fields.password.id}}"
        for={{form.fields.password.id}}
      >
        {{form.fields.password.label}}
      </label>

      <mat-form-field>
        <input matInput
          id="input-{{form.fields.password.id}}"
          type={{form.fields.password.type}}
          placeholder={{form.fields.password.placeholder}}
        />
      </mat-form-field>

    </fieldset>

  </form>

</main>
